<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
        <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">Project
            Skeleton Title</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1, maximum-scale=1"/>
        <!-- Bootstrap core CSS/JS -->
        <link rel="stylesheet" type="text/css" media="screen"
              href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
              th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
        <script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
        <script th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link rel="stylesheet" type="text/css" media="all"
              href="../../static/css/bootstrap-datetimepicker.min.css" th:href="@{/css/bootstrap-datetimepicker.min.css}"/>
        <!-- Styles for this template -->
        <link rel="stylesheet" type="text/css" media="all"
              href="../../static/css/dashboard.css" th:href="@{/css/dashboard.css}"/>
        <!-- Custom CSS Style -->
        <link rel="stylesheet" type="text/css" media="all"
              href="../../static/css/custom-style.css" th:href="@{/css/custom-style.css}"/>
        <link rel="stylesheet" type="text/css" media="all"
              href="../../static/css/grid.css" th:href="@{/css/grid.css}"/>
        <link rel="stylesheet" href="../../static/jstree/dist/themes/default/style.css"
              th:href="@{/jstree/dist/themes/default/style.css}"/>
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"/>

        <script src="../../static/js/custom-scripts.js"
                th:src="@{/js/custom-scripts.js}"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script type="text/javascript"
                src="../../static/js/ie10-viewport-bug-workaround.js"
                th:src="@{/js/ie10-viewport-bug-workaround.js}"></script>
        <script type="text/javascript"
                src="../../static/js/moment-with-locales.min.js"
                th:src="@{/js/moment-with-locales.min.js}"></script>
        <script type="text/javascript"
                src="../../static/js/bootstrap-datetimepicker.min.js"
                th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
        <script type="text/javascript"
                src="../../static/js/materialize.min.js"
                th:src="@{/js/materialize.min.js}"></script>
        <script type="text/javascript"
                src="../../static/js/journal.js"
                th:src="@{/js/journal.js}"></script>

    </head>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top hidden-xs hidden-sm visible-md visible-lg" role="navigation" id="myNavbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <p class="navbar-btn">
                                <a data-toggle="modal" id="add" href="#panel3" class="btn btn-default addbtn"><img height="32px" width="32px"
                                                                                                                   th:src="@{/icons/menu/add_blue.png}"></img><b> Добавить заявку</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn">
                                <a data-toggle="tab" id="viewcalendar" href="#panel2" class="btn btn-default viewclndrbtn"><img height="32px" width="32px"
                                                                                                                                th:src="@{/icons/menu/calendar_blue.png}"></img><b> Календарь</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn">
                                <a data-toggle="tab" id="view" href="#panel1" class="btn btn-default viewbtn"><img height="32px" width="32px"
                                                                                                                   th:src="@{/icons/menu/expand_blue.png}"></img><b> Список Заявок</b></a>
                            </p>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <p class="navbar-btn">
                                <a id="dayviewpoint" class="btn btn-default hidebtn"><b>День</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn">
                                <a id="weekviewpoint" class="btn btn-default hidebtn"><b>Неделя</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn">
                                <a id="monthviewpoint" class="btn btn-default hidebtn"><b>Месяц</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn">
                                <a data-toggle="tab" id="settings" class="btn btn-default"><b>Настройки </b><img height="32px" width="32px"
                                                                                                                 th:src="@{/icons/menu/settings_blue.png}"></img></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="navbar navbar-inverse navbar-fixed-top visible-xs visible-sm hidden-md hidden-lg" role="navigation" id="myNavbar">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span
                            class="icon-bar"></span> <span class="icon-bar"></span> <span
                            class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <p class="navbar-btn btn-block">
                                <a data-toggle="modal" id="add_block" href="#panel3" class="btn btn-block navbtn viewbtn"><b>Добавить заявку</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn btn-block">
                                <a data-toggle="tab" id="viewcalendar_block" href="#panel2" class="btn btn-block navbtn addbtn"><b>Календарь</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn btn-block">
                                <a data-toggle="tab" id="view_block" href="#panel1" class="btn btn-block navbtn"><b>Список заявок</b></a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn btn-block">
                                <a id="monthviewpoint_block" class="btn btn-block navbtn hidebtn">Месяц</a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn btn-block">
                                <a id="weekviewpoint_block" class="btn btn-block navbtn hidebtn">Неделя</a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn btn-block">
                                <a id="dayviewpoint_block" class="btn btn-block navbtn hidebtn">День</a>
                            </p>
                        </li>
                        <li>
                            <p class="navbar-btn btn-block">
                                <a data-toggle="tab" id="settings_block" class="btn btn-block navbtn"><b>Настройки</b></a>
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <br/>
        <div class="container-fluid height-full">
            <div class="row content">
                <div class="tab-content">
                    <div id="panel1" class="tab-pane fade">
                        <table id="tableId" class="table table-hover fullscreen">
                            <thead class="thead-inverse">
                                <tr>
                                    <th scope="col">Дата и время</th>
                                    <th scope="col">Клиент</th>
                                    <th scope="col">Адрес</th>
                                    <th scope="col">Водитель</th>
                                    <th scope="col">Машина</th>
                                    <th scope="col">Грузчики</th>
                                    <th scope="col">Описание</th>
                                </tr>
                            </thead>
                            <tbody id="tablebody">
                            </tbody>
                        </table>
                    </div>
                    <div id="panel2" class="tab-pane fade in active">
                        <iframe id="calendar" src=""></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div id="panel3" class="modal fade">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Добавление новой заявки</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="InputTime">Дата и время</label>
                                    <div class="input-group" id="datetimepicker">
                                        <input type="text" class="form-control" placeholder="Выберите дату и время" id="InputTime" />
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputClient">ФИО Клиента</label>
                                    <input type="text" class="form-control" id="InputClient" placeholder="Введите ФИО клиента"/>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label for="InputCity">Город</label>
                                        <select class="form-control" id="InputCity">
                                            <option>Выберите город</option>
                                            <option>Пермь</option>
                                            <option>Краснокамск</option>
                                            <option>Кунгур</option>
                                            <option>Березники</option>
                                            <option>Лысьва</option>
                                            <option>Соликамск</option>
                                            <option>Очёр</option>
                                            <option>Нытва</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label for="InputAddress">Адрес</label>
                                        <input type="text" class="form-control" id="InputAddress" placeholder="Введите улицу и дом"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="InputCity">Уведомление</label>
                                    <select class="form-control" id="InputNotification">
                                        <option>Выберите время уведомления</option>
                                        <option>За 15 минут</option>
                                        <option>За 30 минут</option>
                                        <option>За час</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Телефон клиента</label>
                                    <input type="tel" class="masked form-control" id="InputPhone" placeholder="X (XXX) XXX-XX-XX"
                                           pattern="\d{1}\(\d{3}\) \d{3}\-\d{4}" title="10-digit number" />
                                </div>
                                <div class="form-group">
                                    <label for="InputDriver">Водитель</label>
                                    <input type="text" class="form-control" id="InputDriver" placeholder="Введите имя водителя"/>
                                </div>
                                <div class="form-group">
                                    <label for="InputCar">Машина</label>
                                    <input type="text" class="form-control" id="InputCar" placeholder="Введите марку и номер машины"/>
                                </div>
                                <div class="form-group">
                                    <label for="InputGofers">Грузчики</label>
                                    <select class="form-control" id="InputGofers">
                                        <option>Выберите количество грузчиков</option>
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                        <option>6</option>
                                        <option>7</option>
                                        <option>8</option>
                                        <option>9</option>
                                        <option>10</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for ="description">Описание груза</label>
                                    <textarea class="form-control noresize" id="description" placeholder="Введите описание"></textarea>
                                </div>
                                <br/>
                            </div>
                        </form>
                    </div>
                    <div class="modal-fixed-footer">
                        <button type="button" class="btn btn-block submit" id="Send" data-dismiss="modal">
                            <i class="fa fa-paper-plane" aria-hidden="true"></i>Отправить
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--/.container-->
        <div layout:fragment="custom-scripts">
            <!--Custom page specific scripts goes here-->
        </div>

        <script type="text/javascript"
                src="../../static/js/masking-input.js"
                th:src="@{/js/masking-input.js}"
                data-autoinit="true"></script>
    </body>
</html>