/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 0px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #f5f5f5;
}

/* Custom page CSS
-------------------------------------------------- */
.container {
    width: auto;
    max-width: 680px;
    padding: 0px;
}

.container .text-muted {
    margin: 0px 0;
}

.desktop-widget-tasks{
    width: 400px;
    height: 400px;
    margin-top: 20px;
    margin-right: 10px;
    float: left;
}

.desktop-widget-overdue{
    width: 250px;
    margin-top: 20px;
    clear:both;
    height: 190px;
}

.cont{
    margin-top: 80px;
}

.desktop-group {
    float: left;
    margin-right: 10px;
}

.widget-cases{
    color: grey;
    padding-right: 16px;
    font-size: 16px;
}

.widget-cases-num {
    font-size: 40px;
    padding-left: 22px;
    padding-right: 20px;
}

/*Виджеты*/

#monitor3 .column {
    width: 170px;
    float: left;
    padding-bottom: 100px;
}
#monitor3 .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}
#monitor3 .portlet-header {
    padding: 0.2em 0.3em;
    margin-bottom: 0.5em;
    position: relative;
}
#monitor3 .portlet-toggle {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -8px;
}
#monitor3 .portlet-content {
    padding: 0.4em;
}
#monitor3 .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

#panel4{
    width:96%;
}