.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #162C9A;
}

.navbar-right {
    margin-right: 3px !important;
}

.navbar li>a:hover:after {
    content: "";
    display: block;
    border: 12px solid transparent;
    border-top-color: #162C9A;
    position: absolute;
    bottom: -24px;
    left: 50%;
    margin-left: -12px;
    z-index: 10;
}

.navbar li {
    visibility: hidden;
    display: none;
}

.dropdown {
    display: inline-block;
}

.dropdown_content {
    line-height: 1;
    position: absolute;
    background-color: #162C9A;
    width: 120%;
    left: -20%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    transition: .75s;
    max-height: 0;
    overflow: hidden;
}

.dropbtn:hover ~ .dropdown_content,
.dropdown_content:hover {
    max-height: 300px;
}
.row {
    margin:0 !important;
}
.row.content {
    padding:0;
    margin:0;
    height:100%;
}
.row.vdivide [class*='col-']:not(:last-child):after {
    background: #e0e0e0;
    width: 1px;
    content: "";
    display:block;
    position: absolute;
    top:0;
    bottom: 0;
    right: 0;
    min-height: 70px;
}

.sidenav {
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #162C9A;
    overflow-x: hidden;
    padding-top: 20px;
}

.row-header
{
    cursor:pointer;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 5px;
    }
    .row.content {height:auto;}
    .viewpoint-control {
        margin: -30px 23px -10px;
    }
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.navbar-nav > li > a, .navbar-brand {
    padding-bottom:0 !important;
}

nav {
    margin-botttom: 10px;
}

.btn {
    background-color: #162C9A;
    border-color: #162C9A;
    color: #ffffff;
    white-space:normal !important;
}
.btn-sm {
    height: 25px;
    width: 25px;
    padding-top: 2px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 0;
}

.btn-fullwidth {
    margin-bottom: 5px;
    width:100%!important;
}

.btn:hover {
    background-color: #ffffff;
    color: #222222;
}

.modal-amend {
    max-height: calc(100vh - 210px);
    overflow-y: auto;
    margin-top: 169px;
}

.noresize {
    resize: vertical;
    min-height: 100px;
}

tr.strikeout td:before {
    content: " ";
    position: absolute;
    display: inline-block;
    padding: 5px 10px;
    left: 20px;
    border-bottom: 1px solid #111;
    width: 85%;
}

#calendar {
    width: 100% !important;
    margin: -10px;
}

.viewpoint-control {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}

.viewpoint-control li {
    float: right;
}

#monthviewpoint {
    margin-right: 13px;
    margin-top: 5px;
}

#weekviewpoint {
    margin-top: 5px;
}

#dayviewpoint {
    margin-top: 5px;
}

.hidebtn {
    visibility: hidden;
}

#logo {
    background: url("../icons/menu/logo.png");
    width: 600px;
    height: 150px;
    margin:  20px auto;
}

.logo_btn {
    margin: 50px auto;
    text-align: center;
}

#login {
    width: 450px;
    height: 80px;
    font-size: 45px;
}

#slider {
    position: relative;
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    width: 1200px;
}

#slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 450px;
    width: 100%;
    list-style: none;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0 0 0 -600px;
    padding: 0;
    width: 100%;
    height: 450px;
    background: #ccc;
    text-align: center;
    line-height: 300px;
}

a.control_prev, a.control_next {
    position: absolute;
    top: 40%;
    z-index: 999;
    display: block;
    padding: 4% 3%;
    width: auto;
    height: auto;
    background: #162C9A;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    opacity: 0.5;
    cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.2s ease;
}

a.control_prev {
    border-radius: 0 2px 2px 0;
}

a.control_next {
    right: 0;
    border-radius: 2px 0 0 2px;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    width: 160px;
    font-size: 18px;
}

.line-separator{
    height:1px;
    background:#e5e5e5;
    border-bottom:1px solid #e5e5e5;
}