<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Devices</title>
</head>

<body th:with="page='devices'">

<div layout:fragment="device_content">
    <div id="panel2" class="tab-pane fade">
        <table class="table table-hover">
            <thead class="thead-inverse">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Дата выполнения</th>
                <th scope="col">Объект</th>
                <th scope="col">Кем проверен</th>
                <th scope="col">Статус</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success">
                <th scope="row">1</th>
                <td>10.01.2018</td>
                <td>Луначарского 54</td>
                <td>Иван</td>
                <td>Выполнено</td>
            </tr>
            <tr class="danger">
                <th scope="row">2</th>
                <td>10.01.2018</td>
                <td>Куйбышего 23</td>
                <td>Иван</td>
                <td>Не выполнено</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>12.01.2018</td>
                <td>Монастырского 2</td>
                <td>Виктор</td>
                <td>Ожидается</td>
            </tr>
            <tr class="danger">
                <th scope="row">2</th>
                <td>12.01.2018</td>
                <td>Куйбышего 102</td>
                <td>Виктор</td>
                <td>Не выполнено</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>12.01.2018</td>
                <td>Куйбышего 122</td>
                <td>Андрей</td>
                <td>Ожидается</td>
            </tr>
            <tr class="success">
                <th scope="row">2</th>
                <td>14.01.2018</td>
                <td>Петропавловская 11</td>
                <td>Андрей</td>
                <td>Выполнено</td>
            </tr>
            <tr class="success">
                <th scope="row">3</th>
                <td>15.01.2018</td>
                <td>Петропавловская 23</td>
                <td>Никита</td>
                <td>Выполнено</td>
            </tr>
            <tr class="success">
                <th scope="row">2</th>
                <td>15.01.2018</td>
                <td>Петропавловская 68</td>
                <td>Никита</td>
                <td>Выполнено</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>20.01.2018</td>
                <td>Комсомольский проспект 70</td>
                <td>Никита</td>
                <td>Ожидается</td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</body>
</html>