<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/common-layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Operlog</title>
</head>

<body th:with="page='operlog'">

<div layout:fragment="content">
    <div id="panel1" class="tab-pane fade in active">
        <div class="table-responsive">
            <table class="table table-hover">
                <thead class="thead-inverse">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Дата выполнения</th>
                    <th scope="col">Объект</th>
                    <th scope="col">Кем проверен</th>
                    <th scope="col">Статус</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="operationLog : ${operationLogList}">
                    <td th:text="${operationLog.id}">1</td>
                    <td th:text="${operationLog.getCreationDate()}">2</td>
                    <td th:text="${operationLog.getOperation().getDescription()}">3</td>
                    <td th:text="${operationLog.getUser().getUsername()}">4</td>
                    <td th:text="${operationLog.getStatus()}">5</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>